In Lithuania: starting from 556 cases in March 2024 to 890 in October 2024 and 1185 in January 2025; 
in Latvia: from 790 cases in October 2024 to 1288 cases in January 2025; 
in Estonia: 1150 cases in October 2024 and 1085 cases in January 2025; 
in Poland: 1908 cases in October 2024 to 2732 cases in January 2025 (according to unique ICAO ID per month).

In [1]:
import pandas as pd

In [2]:
eu_call_data=pd.read_csv('eu_call_data.csv',)

In [8]:
(eu_call_data
    .set_index('Country').T
    #.Index.rename('month_year')
    #.assign(
    #    date= lambda df: df.month_year.to_datetime(format='%m%Y')
    #)
    #.plot(marker='.')
)

Country     Lithuania  Latvia  Estonia  Poland
2024-03-01      556.0     NaN      NaN     NaN
2024-10-01      890.0   790.0   1150.0  1908.0
2025-01-01     1185.0  1288.0   1085.0  2732.0